h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.title-s1 {
  font-size: 18px;
}
.field-icon {
  position: absolute;
  top: 12px;
  right: 12px;
}

.right {
  right: 0px;
}

.password-field {
  position: relative;
  .eye-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.validate-error {
  color: red
}
.password-meter {
  display: flex;
  background: transparent;
  justify-content: space-between;
  padding-bottom: 10px;
  .strength-meter-fill {
    transition: width 0.5s ease-in-out, background 0.25s;
  }
  .meter {
    width: 58px;
    height: 4px;
    background-color: grey;
  }
  .one {
    background:darkred;
  }
  .two {
    background:orangered;
  }
  .three {
    background:orange;
  }
  .four {
    background: yellowgreen;
  }
  .five {
    background:green;
  }
}


